// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card";

li {
  text-decoration: none!important;
}
ul {
  text-decoration: none;
  list-style-type: none;
}
